version: 2

jobs:
  rustfmt:
    docker:
      - image: "circleci/rust:1.43"
    steps:
      - checkout
      - run:
          name: install rustfmt
          command: rustup component add rustfmt
      - run:
          name: run rustfmt
          command: cargo fmt -- --check

  clippy:
    docker:
      - image: "circleci/rust:1.43"
    steps:
      - checkout
      - run:
          name: install clippy
          command: rustup component add clippy
      - run:
          name: run clippy
          command: cargo clippy

  test:
    docker:
      - image: "circleci/rust:1.43"
    steps:
      - checkout
      - restore_cache:
          keys:
            - cargo-{{ checksum "Cargo.lock" }}
            - cargo
      - run:
          name: build project
          command: cargo build
      - run:
          name: run tests
          command: cargo test

      - save_cache:
          key: cargo-{{ checksum "Cargo.lock" }}
          paths:
            - /usr/local/cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps

workflows:
  version: 2
  trello_test:
    jobs:
      - clippy
      - rustfmt
      - test
